<!DOCTYPE html>
<html>
<header>
  <style>
    body { font: 85%/1.7em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; background-color: #eee; }
    div { margin: 0 auto; width: 500px; padding: 10px; background-color: #fff; }
  </style>
</header>
<body>
<div>
<p>
  <a href="/">This presentation</a> was build using a
  <a href='https://github.com/Val/slideshow'>modified</a> version of
  <a href='http://slideshow.rubyforge.org'>slideshow (S9)</a> and a
<a href='https://github.com/Val/slideshow-val/tree/master/templates'>template
</a> based on
          Google's <a href='http://slides.html5rocks.com/'>HTML5rocks!</a>
          slide presentation which was created by <strong>Marcin
          Wichary</strong> and modified by many people in the <em>Google Chrome
          team</em>
</p>
<p>
  The presentation template was originally meant to run in <strong>Google
  Chrome</strong>. Some experimental features <strong>might or might
  not</strong> be coded to run in other browsers for now. (Although you will
  cry out of happiness when you see so much running in IE with the Chrome Frame
  plug-in)
</p>
<p>
  Particularities of this <em>HTML5 template</em> for <em>slideshow (S9)</em>
  are:
  <ul>
    <li>recent update from <em>HTML5rocks!</em> source presentation including:
       <ul>
         <li><a href='http://code.google.com/p/google-code-prettify/'>Google
              Code Prettify</a></li>
         <li>dynamic themes</li>
         <li>better "in-presentation" notes support</li>
       </ul>
    </li>
    <li><em>slideshow (S9)</em> ehancement:
       <ul>         
         <li>transition slides/logos (see
            <a href='https://github.com/Val/slideshow-g5-syntax'>g5syntax</a>
                samples)</li>
       </ul>
    </li>
  </ul>
</p>
<body>
</html>
